@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.focus-nl {
  @apply outline-none border-2 border-transparent focus:border-white focus:shadow-none;
}
.focus-opposite {
  @apply outline-none border-2 border-transparent focus:border-blue-900;
}
.focus-accent {
  @apply outline-none border-2 border-transparent focus:border-black;
}
.focus-input {
  @apply outline-none border-2 border-transparent focus:border-blue-900 focus:ring-4;
}
.box {
  @apply bg-white px-6 py-4 border-b;
}
.bg-glassy {
  @apply bg-white bg-opacity-30 border-2 border-white/30 backdrop-blur-lg;
}
.shadow-dim {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
.background {
  background-image: url("/Background.jpeg");
  object-fit: cover;
  background-size: cover;
}
